<section class="gallery">
<div class=" gallery-container container">
  <ul class="gallery-list">
    <li class="gallery-item">
      <img
        srcset="./img/gallery/boy@2x.jpg 2x"
        src="./img/gallery/boy.jpg"
        alt="Boy with brash"
        class="gallery-img"
        width="370"
        height="583"
      />
    </li>
    <li class="gallery-item">
      <ul class="secondary-galley-list">
        <li class="secondary-gallery-item">
          <ul class="third-gallery-list">
            <li class="third-gallery-item">
              <img
                srcset="./img/gallery/man-in-hat@2x.jpg 2x"
                src="./img/gallery/man-in-hat.jpg"
                alt="Man in hat in barbershop"
                class="third-gallery-img"
                width="467"
                height="410"
              />
            </li>
            <li class="third-gallery-item">
              <img
                srcset="./img/gallery/man-and-barber@2x.jpg 2x"
                src="./img/gallery/man-and-barber.jpg"
                alt="Man and barber"
                class="third-gallery-img"
                width="467"
                height="410"
              />
            </li>
          </ul>
        </li>
        <li class="secondary-gallery-item">
          <ul class="forth-gallery-list">
            <li class="forth-gallery-item">
              <img
                srcset="./img/gallery/hair-combing@2x.jpg 2x"
                src="./img/gallery/hair-combing.jpg"
                alt="Hair combing"
                class="forth-gallery-img"
                width="467"
                height="410"
              />
            </li>
            <li class="forth-gallery-item">
              <img
                srcset="./img/gallery/beard-trimming@2x.jpg 2x"
                src="./img/gallery/beard-trimming.jpg"
                alt="Beard trimming"
                class="forth-gallery-img"
                width="467"
                height="410"
              />
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="gallery-item">
      <img
        srcset="./img/gallery/boy-and-barber@2x.jpg 2x"
        src="./img/gallery/boy-and-barber.jpg"
        alt="Boy and barber"
        class="gallery-img"
        width="370"
        height="583"
      />
    </li>
  </ul>
  </div>
</section>
