<section class="servises">
  <div class="container servises-container">
    <h2 class="hidden">Servises</h2>
    <ul class="services-list list">
      <li class="servises-item">
        <ul class="services-first-row-list list">
          <li class="services-first-row-item">
            <img
              srcset="./img/services/hair-styling@2x.png 2x"
              src="./img/services/hair-styling.png"
              alt="Hair styling"
              class="services-img"
              width="350"
              height="350"
            />
            <p class="services-title">Hair Styling</p>
          </li>
          <li class="services-first-row-item">
            <img
              srcset="./img/services/beard-trimming@2x.png 2x"
              src="./img/services/beard-trimming.png"
              alt="Beard trimming"
              class="services-img"
              width="350"
              height="350"
            />
            <p class="services-title">Beard Trimming</p>
          </li>
        </ul>
      </li>
      <li class="servises-item">
        <ul class="services-second-row-list list">
          <li class="services-second-row-item">
            <img
              srcset="./img/services/smooth-shave@2x.png 2x"
              src="./img/services/smooth-shave.png"
              alt="Smooth shave"
              class="services-img"
              width="350"
              height="350"
            />
            <p class="services-title">Smooth Shave</p>
          </li>
          <li class="services-second-row-item">
            <img
              srcset="./img/services/hair-straightening@2x.png 2x"
              src="./img/services/hair-straightening.png"
              alt="Hair Straightening"
              class="services-img"
              width="350"
              height="350"
            />
            <p class="services-title">Hair Straightening</p>
          </li>
        </ul>
      </li>
    </ul>
    <img
      srcset="./img/services/barber@2x.png 2x"
      src="./img/services/barber.png"
      alt="Barber"
      class="services-right-side-img"
    />
  </div>
</section>
