<section class="team">
  <div class="team-container">
    <h2 class="hidden">Team</h2>
    <ul class="team-list">
      <li class="team-item">
        <img 
		srcset="./img/team/meredith@2x.png 2x"
		src="./img/team/meredith.png" alt="Meredith" class="team-img" width="392" height="677" />
        <div class="team-overlay">
          <p class="team-title">Meredith</p>
        </div>
		<div class="team-overlay-shadow"></div>
      </li>
      <li class="team-item">
        <img srcset="./img/team/jason@2x.png 2x"
		src="./img/team/jason.png" alt="Jason" class="team-img" width="392" height="677" />
        <div class="team-overlay">
          <p class="team-title">Jason</p>
        </div>
		<div class="team-overlay-shadow"></div>
      </li>
      <li class="team-item">
        <img srcset="./img/team/ryan@2x.png 2x"
		src="./img/team/ryan.png" alt="Ryan" class="team-img" width="392" height="677" />
        <div class="team-overlay">
          <p class="team-title">Ryan</p>
        </div>
		<div class="team-overlay-shadow"></div>
      </li>
      <li class="team-item">
        <img srcset="./img/team/james@2x.png 2x"
		src="./img/team/james.png" alt="James" class="team-img" width="392" height="677" />
        <div class="team-overlay">
          <p class="team-title">James</p>
        </div>
		<div class="team-overlay-shadow"></div>
      </li>
    </ul>
  </div>
</section>
